{{define "index"}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{.}}</title>
</head>

<body>
    <video id="video" preload controls>
        <source src="82c62f254b4189d13677061fe3a990cf.mov" />
    </video>
</body>

</html>
{{end}}
